# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE specific files
.idea/
.vscode/

# Docker
.dockerignore

# Test coverage
.coverage
htmlcov/
